<!-- {% extends 'base.html'}
{% block content %}

<header>
    <h1>Resources in the Category {{ category }}</h1>
    {% for category in categorys %}
        <p><a href="{% url 'category_info' category.slug %}">{{ category }}</a></p>
    {% endfor %}
</header>

<h2>Available Resources:</h2>
    {% for resource in resources %}
    <div class ="container">
        <div class="resource_card">
            <a href="{% url 'resource_info' pk=resource.pk %}">{{ resource.title }}</a>
            <p>{{ resource.author }}</p>
            <p>{{ resource.description }}</p>
            <a href="{{ resource.url }}">URL Link</a>
            <p>{{ resource.category }}</p>
            <p>{{ resource.created_at }}</p>
            <a href="{% url 'favorite' res_pk=resource.pk %}">Favorite</a>
        </div>
    </div>
    {% endfor %}

{{ resource }}
{% endfor %}
{% endblock %} -->